:root {
  --bg: #fdfdfd;
  --highlight1: #ed4264;
  --highlight2: #ffedbc;
  --color: #1a1e24;

  --font-number: Montserrat, Roboto, Helvetica, Arial, sans-serif;
  --font-head: "Space Mono", Consolas, Menlo, Monaco, "Courier New", monospace;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  background-color: rgb(34, 34, 34);
  color: white;
  font-style: normal;
  font-family: Helvetica;
}
h1 {
  margin: 0;
  border-top: solid 2px white;
  border-bottom: 2px solid white;
  padding: 30px;
}

/*NAV CSS AND LIST CSS*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  top: 0;
  width: 100%;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover:not(.active) {
  background-color: #111;
}

nav li a.active {
  background-color: #046daa;
  color: white;
}

.active {
  background-color: #046daa;
}
/*cool list found online*/
list div {
  width: 200px;
}

list h2 {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  font: 7vw/1.5 Helvetica, Verdana, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

list li {
  font: 4vw/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

list li:last-child {
  border: none;
  margin-bottom: 100px;
}

list li a {
  text-decoration: none;
  color: white;
  display: block;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

list li a:hover {
  font-size: 6vw;
  background: #5e5e5e;
}
.du {
  display: inline-block;
  text-align: center;
  margin: auto;
}
.du a {
  margin: 10px 0;
  border: solid 1px white;
  text-align: center;
  text-decoration: none;
  color: white;
  display: block;
}
